_auth="Y3VzdG9tZXJfY29sbWVuYV9zZWd1cm9zX3JpZXNnb3NfbGFib3JhbGVzX3NhOm50U2hkMnZhWFhIQkpzQ3Y="
@omnistudio:registry=https://repo.vlocity.com/repository/vlocity-public/
@vlocity-ins-sdk:registry=https://repo.vlocity.com/repository/vlocity-public/
engine-strict=true